<!DOCTYPE html>
<html>
<head>
    <title>Pydantic</title>
</head>
<body>
    <h1>Проверка типов через Pydantic</h1>
    <form method="post">
        <label>Строка: <input type="text" name="string_field" required></label><br><br>
        <label>Целое число: <input type="text" name="int_field" required></label><br><br>
        <label>Число с плавающей точкой: <input type="text" name="float_field" required></label><br><br>
        <label>Булевое значение: <input type="text" name="bool_field" required></label><br><br>
        <!-- <label>Список чисел (через запятую): <input type="text" name="list_field" required></label><br><br>
        <label>Словарь (key1:1,key2:2): <input type="text" name="dict_field" required></label><br><br> -->
        <label>Дата (ГГГГ-ММ-ДД): <input type="text" name="date_field" required></label><br><br>
        <label>Опциональное поле: <input type="text" name="optional_field"></label><br><br>
        <button type="submit">Проверить</button>
    </form>

    {% if result %}
        <h2>Результат:</h2>
        {% if result.success %}
            <pre>{{ result.data }}</pre>
        {% else %}
            <p style="color:red;">Ошибка: {{ result.error }}</p>
        {% endif %}
    {% endif %}
</body>
</html>
